body{
    background-color:#ededed;
    overflow: hidden;
    background:black;
}
.navBar{
    position:fixed;
    display:flex;
    align-items: center;
    top:0;
    left:0;
    width:100%;
    height:50px;
}
.navBar .first{
    width:25%;
    height:100%;
}
.navBar .middle{
    width:50%;
    height:100%;
    background:grey;
    text-align: center;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.navBar .middle ul{
    list-style-type: none;
}
.navBar .middle ul li{
    display:inline;
    margin-right:20px;
    cursor:pointer;
    font-size: larger;
}
.navBar .middle ul li:hover{
    color:white;
}
.navBar .middle ul li:active{
    color:red;
}
.navBar .middle ul a{
    text-decoration: none;
    color:black;
}
.navBar .middle ul .activePage{
    color:white;
    border-bottom:2px solid black;
}
.companyLogoContainer{
    position:absolute;
    top:60px;
    width:40%;
    height:50%;
}
.companyLogoContainer img{
    position:absolute;
    width:100%;
    height:100%;
}
.companyLogoContainer .companyNameContainer{
    position:absolute;
    left:10%;
    bottom:20%;
    width:80%;
    height:60px;
    text-align: center;
    color:#746969;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.companyLogoContainer .slogan{
    position:absolute;
    left:10%;
    bottom:8%;
    width:80%;
    height:40px;
    text-align: center;
    color:#4c4848;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.companyDescription{
    position:absolute;
    right:0px;
    top:60px;
    width:60%;
    height:50%;
}
.companyDescription .socialMediaContainer{
    position:absolute;
    bottom:2%;
    left:15%;
    width:70%;
    height:15%;
    display:inline-block;
}
.companyDescription .socialMediaContainer .socialMedia{
    position:relative;
    width:80px;
    height:100%;
    margin-left:2%;
    display:inline-block;
}
.companyDescription .socialMediaContainer .socialMedia img{
    position:absolute;
    top:0px;
    width:60px;
    height:60px;
}
.companyDescription .socialMediaContainer .socialMedia .bigIcons{
    width:40px;
    height:40px;
    margin-top:10px;
}
.companyDescription .detailDescription{
    position:absolute;
    left:5%;
    width:90%;
    height:80%;
}
.companyDescription .socialMediaContainer .socialMedia img:hover{
    transform:scale(1.1)
}
.companyDescription .socialMediaContainer .socialMedia img:active{
    transform:scale(1)
}
.developersContainer{
    position:absolute;
    bottom:10%;
    width:100%;
    height:33%;
}
.developersContainer .developer{
    position:absolute;
    width:50%;
    height:100%;

}
.developersContainer .previousWorkContainer{
    position:absolute;
    right:0px;
    width:50%;
    height:100%;
    display:inline-block;
    overflow: hidden;

}
.developersContainer .developer .imageContainer{
    position:absolute;
    top:5%;
    left:1%;
    width:30%;
    height:90%;
    border-radius:20px;
    overflow: hidden;
}
.developersContainer .developer .imageContainer img{
    width:100%;
    height:100%;
}
.developersContainer .developer .developerInfoContainer{
    position:absolute;
    right:1%;
    top:5%;
    width:67%;
    height:90%;
    border-radius:10px;
    background-color:grey;
}
.developersContainer .developer .developerInfoContainer .thoughtContainer{
    position:absolute;
    bottom:60px;
    left:5%;
    width:90%;
    height:100px;
    background-color:rgba(0, 0, 0, 0.44);
    border-left:5px solid white;
    padding:5px;
    color:white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.developersContainer .developer .developerInfoContainer .nameContainer{
    position:relative;
    top:5%;
    left:5%;
    width:90%;
    height:40px;
    text-align: center;
    font-size: 30px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-left:2px solid black;
}
.developersContainer .developer .developerInfoContainer .majorContainer{
    position:absolute;
    top:50px;
    right:0px;
    text-align: center;
    width:50%;
    height:30px;
    font-size: larger;
    color:white;
    border-bottom:2px solid black;
}
.developersContainer .previousWorkContainer .previousWork{
    position:relative;
    display:inline-block;
    margin-top:1%;
    margin-left:5%;
    width:43%;
    height:43%;
    background-color:grey;
}
.developersContainer .previousWorkContainer .previousWork img{
    width:100%;
    height:100%;
}
.btnContainer{
    position:fixed;
    bottom:0px;
    left:calc(50% - 15%);
    width:30%;
    height:7%;
    display:flex;
}
.btnContainer button{
    width:45%;
    margin-right:5%;
    height:100%;
    font-size: larger;
    color:#ededed;
    background-color:rgba(52, 51, 51, 0.863);
    border:none;
}
.btnContainer button:hover{
    color:red;
    transform:scale(1.1);
    background-color:rgba(52, 51, 51, 0.948);

}
.btnContainer button:active{
    transform:scale(1);
    background-color:white;
}