body{
    height:auto;
    background:#ededed;
}
.navBar{
    position:fixed;
    top:0px;
    left:0px;
    margin-bottom:20px;
    width:100%;
    height:50px;
    z-index:3;
    display: flex;
    align-items: center;
}
.navBar .first{
    width:25%;
    height:100%;
}
.navBar .middle{
    width:50%;
    height:100%;
    background:grey;
    text-align: center;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

.navBar .middle #ul{
    list-style-type: none;
}
.navBar .middle #ul li{
    display:inline;
    margin-right:20px;
    cursor:pointer;
    font-size: larger;
}
.navBar .middle #ul li:hover{
    color:white;
}
.navBar .middle #ul li:active{
    color:red;
}
.navBar .middle #ul a{
    text-decoration: none;
    color:black;
}
.navBar .middle #ul .activePage{
    color:white;
    border-bottom:2px solid black;
}

.modeContainer{
    position:fixed;
    right:20px;
    top:20px;
    width:60px;
    height:20px;
    border-radius:20px;
    z-index:3;
    background-color:gray;
}
#theme{
    width:60px;
    height:30px;
    background:transparent;
    border:none;
    color:grey;
    position:fixed;
    right:20px;
    z-index:3;
}
.toggler{
    position:absolute;
    top:-5px;
    width:30px;
    height:30px;
    background-color:gray;
    border-radius:50%;

}
.navigation{
    position:relative;
    top:40px;
    left:-10px;
    padding-right:20px;
    width:100%;
    height:80px;

}
.searchBarContainer{
    position:fixed;
    top:60px;
    left:25%;
    width:45%;
    height:40px;
    z-index:5;
    overflow: hidden;
    border-radius:20px;
}
.searchBar{
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    border-radius:20px;
    padding-left:80px;
    background-color:rgba(128, 128, 128, 0.863);
    border:none;
    color:white;
    font-size: large;
}
.searchBarContainer button{
    position:absolute;
    width:60px;
    left:10px;
    top:10px;
    text-align: center;
    font-size: 15px;
    border:none;
    border-right:2px solid rgb(151, 143, 143);
    background:transparent;
    color:#ededed;
    cursor:pointer;

}
#language{
    position:fixed;
    top:20px;
    width:auto;
    height:30px;
    z-index:4;
    border:none;
    background:transparent;
    color:grey;
}

.rotatingShow{
    position:relative;
    left:0px;
    top:20px;
    width:100%;
    height:90vh;
    text-align: center;
    overflow: hidden;

}
.rotatingShow .slider{
    position:absolute;
    width:150px;
    height:200px;
    top:10%;
    left:calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation:rotating 30s linear infinite;
    z-index:2;
}

@keyframes rotating {
    from{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}
.rotatingShow .slider .slidingPicture{
    position:absolute;
    inset: 0 0 0 0;
    opacity:2;
    transform: 
                rotateY(calc((var(--position) - 1) * (360/Var(--quantity)) * 1deg))
                translateZ(550px)
                ;
}
.rotatingShow .slider .slidingPicture img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.rotatingShow .companyName{
    width:min(1400px , 100vw);
    height:max-content;
    position:absolute;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
.rotatingShow .companyName h1{
    font-size:10em;
    line-height: 1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#252838;
    position:relative;

}
.companyName h1::after{
    position:absolute;
    inset: 0 0 0 0;
    content:attr(data-content);
    -webkit-text-stroke: 0.1px #ededed;
    color:transparent;
    z-index:2;
}
.rotatingShow .companyName .uniqueAnimal{
    background-image:url(../images/waliyaIbex.png);
    width:100%;
    height:70vh;
    position:absolute;
    bottom:0px;
    background-repeat: no-repeat;
    background-size: auto 130%;
    background-position:top center;

}
.marqueeContainer{
    position:relative;
    top:200%;
    left:10%;
    width:80%;
    height:400px;
    margin-bottom:30px;

}
.marqueeContainer #slogan{
    margin-bottom:50px;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}
.marquee{
    position:absolute;
    top:15%;
    width:100%;
    height:90%;
    overflow: auto;
    white-space:nowrap;
    overflow-y: hidden;
    margin-bottom:30px;

}
.marquee::-webkit-scrollbar{
    height:20px;
}
.marquee::-webkit-scrollbar-thumb{
    background-color:#252525;
    border-radius:20px;
}
.destination{
    position:relative;
    width:200px;
    display:inline-block;
    height:300px;
    margin-top:30px;
    margin-left:20px;
    margin-bottom:30px;
    overflow: hidden;
}
.destination img{
    width:100%;
    height:100%;
    cursor:pointer;
    transition:2s ease-out;
}
.destination img:hover{
    transform:scale(2)
}
.destination .region{
    position:absolute;
    left:10%;
    top:40%;
    width:80%;
    height:60px;
    font-size: 30px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    cursor:pointer;
}
.favorite:hover{
    transform:scale(1.1);
}
.nextPage{
    position:relative;
    top:110%;
    width:100%;
    left:0;
    height:800px;
    overflow: hidden;

}
.customerOne{
    position:absolute;
    top:5px;
    left:1%;
    width:40%;
    height:250px;
    background-color:#796f6f9c;

}
.customerTwo{
    position:absolute;
    top:260px;
    right:1%;
    width:40%;
    height:250px;
    background-color:#796f6f9c;

}
.customerThree{
    position:absolute;
    left:1%;
    top:530px;
    width:42%;
    height:250px;
    background-color:#796f6f9c;
}
.customerPicture{
    width:40%;
    height:100%;
}
.customerPicture img{
    width:100%;
    height:100%;
}
.customerQuote{
    position:absolute;
    top:1%;
    left:42%;
    width:55%;
    height:50%;
    border-left:5px solid #EDEDED;
    background-color:rgba(0, 0, 0, 0.506);
    color:#ededed;
    overflow: hidden;
    padding:10px;
}
.nextPage button{
    position:absolute;
    bottom:2%;
    right:2%;
    width:150px;
    height:40px;
    border:none;
    color:white;
    border-radius:10px;
    background-color:blue;
}
.nextPage button:hover{
    background-color:rgb(29, 29, 182);
}
.favContainer{
    position:relative;
    left:5%;
    width:90%;
    height:100%;
    overflow: hidden;
}
.favContainer .topic{
    position:relative;
    width:600px;
    left:calc(50% - 100px);
    top:10%;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.favContainer .favDetail{
    position:relative;
    top:calc(50% - 50px);
    width:40%;
    height:max-content;
    text-align: center;
    border-right:2px solid gray;
    overflow: hidden;
}

.favContainer .favDetail h1{
    font-size: 2em;
    line-height: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.favContainer .favDetail p{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.favContainer .favoritePlaces{
    position:relative;
    display:flex;
    top:calc(50% - 100px);
    right:-50%;
    width:100%;
    height:400px;
    text-align: center;
    align-items: center;
    transform-style: flat;
}
.favContainer .favoritePlaces .favorites{
    position:relative;
    display:flex;
    width:16%;
    height:50%;
    border-radius:20px;
    overflow: hidden;
}
.favContainer .favoritePlaces .favorites a .image{
    position:relative;
    width:100%;
    height:100%;
}

.favoriteInView{
    transform:scale(2);
    margin-right:100px;
    transition:1s linear;
    box-shadow:0px 5px 10px gray ;
}
.secondInView{
    transform:scale(0.7);
    transition:1s;
    filter: blur(10px);

}
.thirdInView{
    transform:scale(0.5);
    transition:1s;
    filter: blur(10px);

}
.fourthInView{
    transform:scale(0.4);
    transition:1s;
    filter: blur(10px);

}
.fivethInView{
    transform:scale(0.3);
    transition:1s;
    filter: blur(10px);

}
.sixthInView{
    transform:scale(0.2);
    transition:1s;
    filter: blur(10px);

}
.favContainer .btnContainer{
    position:relative;
    right:-5px;
    top:70%;
    display:flex;
    width:200px;
    height:40px; 
}
.favContainer .btnContainer button{
    width:50%;
    border:none;
    border-right:2px solid white;
    background:rgba(59, 54, 54, 0.611);
    color:white;
    border-radius:5px;
}
.favContainer .btnContainer button:hover{
    transform:scale(1.1);
}
.formContainer{
    position:fixed;
    display:inline-block;
    left:20%;
    top:15%;
    width:60%;
    height:70%;
    overflow: hidden;
}
.useForm{
    top:100%;
}
.formContainer form{
    position:relative;
    top:0;
    width:520px;
    height:100%;
    background:#787676;
    display:inline-block;
    overflow: hidden;
    text-align: center;
}

.formContainer form .Exit{
    position:absolute;
    left: 0%;
    top:0;
    width:60px;
    height:30px;
    background:red;
    color:white;
    font-size: larger;
    text-align: center;
    align-content: center;
    border-radius:10px;
    cursor: pointer;
}
.formContainer form h1{
    position:relative;
    width:100%;
    height:50px;
    text-align: center;
}
.formContainer form label{
    font-size:30px;
    margin-bottom:30px;
}
.formContainer form input{
    width:200px;
    height:30px;
    margin-bottom:20px;
}
.formContainer form select{
    width:200px;
    height:30px;
    margin-left:50px;
    margin-bottom:20px;
}
.formContainer form button{
    position:absolute;
    bottom:10px;
    left:10%;
    width:80%;
    height:40px;
    background:green;
    color:white;
    border:none;
    font-size: larger;
    border-radius:10px;
}
.formContainer .formImage{
    position:relative;
    width:510px;
    height:100%;
    background:grey;
    display:inline-block;
}
.formContainer .formImage img{
    position:absolute;
    width:100%;
    height:100%;
}
.formContainer form .display{
    position:absolute;
    left:calc(50% - 200px);
    width:400px;
    height:30%;
    background:black;
}
.formContainer form .display .hotels{
    width:100%;
    height:80%;
    background:cyan;
    overflow-x: auto;
}
.formContainer form .display .hotelsForm{
    width:100%;
    height:20%;
    background:blue;
}
.formContainer form .display .hotelsForm #bed{
    width:60px;
    margin-right:50px;
    margin-left:0;
}
.formContainer form .display .hotelsForm #roomType{
    width:100px;
    margin-left:0;
}
.moreInfo{
    position:relative;
    left:0;
    width:100%;
    height:auto;
    margin-top:50px;
}
footer {
        background: #333;
        color: white;
        padding: 20px;
        text-align: center;
}
.footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}
.footer-content, .footer-contact, .footer-social {
        max-width: 300px;
}
.footer-content h3, .footer-contact h4, .footer-social h4 {
        color: #FFD700;
}
.footer-social a {
        color: #FFD700;
        text-decoration: none;
        margin: 5px;
}
.footer-bottom {
        margin-top: 10px;
        border-top: 1px solid #555;
        padding-top: 10px;
}
.tourFormContainer{
    position:fixed;
    top:0;
    left:10%;
    width:80%;
    height:30%;
    background:#dedede7e;
    color:black;
}
.operationField{
    position:fixed;
    bottom:20px;
    left:2%;
    width:96%;
    height:70%;
    overflow: auto;
    background:rgba(255, 250, 250, 0.452);
    border-radius:20px;
}
.operationField .TourContainer{
    position:relative;
    left:10%;
    top:20px;
    width:80%;
    height:300px;
    border-radius:10px;
    background:black;
    margin-bottom:20px;
}
.operationField .TourContainer .image{
    position:relative;
    top:10%;
    left:20px;
    width:30%;
    height:80%;
    background:grey
}
.operationField .TourContainer .image img{
    width:100%;
    height:100%;
}
.operationField .TourContainer .place{
    position:absolute;
    right:20px;
    top:10%;
    width:60%;
    height:80%;
}
.operationField .TourContainer .place .placeName{
    position:relative;
    top:1%;
    left:10%;
    width:80%;
    height:50px;
    text-align: center;
    align-content: center;
    font-size: 25px;
    color:#ededed
}
.operationField .TourContainer .place .description{
    position:relative;
    top:10px;
    left:5%;
    width:90%;
    height:60%;
    text-align: center;
    align-content: center;
    color:#ededed;
    background:rgba(128, 128, 128, 0.514);
    padding:10px;
    border-radius:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.operationField .TourContainer .place .price{
    position:relative;
    bottom:-10px;
    width:200px;
    height:30px;
    font-size:larger;
    text-align: center;
    color:#ededed;
}
.operationField .TourContainer .place .region{
    position:absolute;
    right:0;
    top:-20px;
    width:50%;
    height:30px;
    text-align: center;
    color:#ededed;
}
.displayContainer{
    position:relative;
    left:5%;
    width:90%;
    max-height:600px;
    overflow: auto;
    background:rgba(0, 0, 0, 0.171)
}
.displayContainer .placeHolder{
    position:relative;
    top:1%;
    left:2%;
    margin-right:2%;
    margin-top:2%;
    display:inline-block;
    width:90%;
    height:300px;
    color:white;
    border-radius:10px;
    background:#252525;
}
.displayContainer .placeHolder .placeImage{
    position:absolute;
    top:5%;
    left:1%;
    width:30%;
    height:90%;
    border-radius:10px;
    transition:0.3s linear;
    overflow: hidden;
}
.displayContainer .placeHolder .placeImage:hover{
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:2;
}
.displayContainer .placeHolder .placeImage img{
    width:100%;
    height:100%;
}
.displayContainer .placeHolder .placeName{
    position:absolute;
    top:5%;
    right:1%;
    width:67%;
    height:90%;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:10px;
    overflow: hidden;
}
.displayContainer .placeHolder .placeName .description{
    position:absolute;
    top:0;
    left:0;
    width:60%;
    height:100%;
    font-size: medium;
    text-align: center;
    align-content: center;
}
.displayContainer .placeHolder .placeName  .pricing{
    position:absolute;
    right:0;
    top:0;
    width:39%;
    height:100%;
    background:#252525;
}
.displayContainer .placeHolder .placeName  .pricing .phrase{
    position:absolute;
    top:10px;
    width:50px;
    height:20px;
    text-align: center;
    font-size: small;
}
.displayContainer .placeHolder .placeName .priceAmount{
    position:absolute;
    top:20px;
    left:40px;
    width:70px;
    height:30px;
}
.displayContainer .placeHolder .placeName  .pricing .bookBtn{
    position:absolute;
    top:60px;
    left:5%;
    width:90%;
    height:50px;
    border-radius:10px;
    color:white;
    text-align: center;
    align-content: center;
    background:#0b0d83;
    cursor:pointer;
}
.displayContainer .placeHolder .placeName .guidContainer{
    position:absolute;
    bottom:10px;
    left:5%;
    width:90%;
    height:140px;
    border-radius:10px;
    background:#404242;
}
.displayContainer .placeHolder button{
    position:absolute;
    bottom:2%;
    right:5%;
    width:200px;
    height:50px;
    font-size: larger;
    border-radius:10px;
    background:orange;
    color:white;
    border:none;
}
.displayContainer .placeHolder button:hover{
    transform:scale(1.1)
}
.displayContainer .placeHolder button:active{
    background:grey;
}
#bookForm{
    position:fixed;
    top:calc(50% - 300px);
    left:calc(50% - 250px);
    width:500px;
    height:600px;
    text-align: left;
    padding-left:20px;
    background:rgba(155, 152, 152, 0.445);
    backdrop-filter:blur(20px);
}
#bookForm h1{
    width:50px;
    margin-left:calc(50% - 25px);
}
#bookForm label input{
    position:relative;
    width:70%;
    height:20px;
    margin-bottom:20px;
}
#bookForm .hotelDisplay{
    position:absolute;
    left:5%;
    bottom:55px;
    width:90%;
    height:40%;
    background:#ededed;
    text-align: center;
    align-content: center;
}
#bookForm button{
    position:absolute;
    bottom:2px;
    left:5%;
    width:90%;
    height:50px;
    border:none;
    color:white;
    background:green;
    border-radius:10px;
    font-size: larger;

}
#bookForm label select{
    position:relative;
    width:60%;
    height:30px;
    margin-bottom:10px;
    align-items: left;
}
#bookForm .exit{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:20px;
    background:red;
    color:white;
    font-size: large;
    text-align: center;
    border-radius:10px;
    cursor:pointer;

}