body{
    background:#ededed;
    overflow: hidden;
}
.navBar{
    position:fixed;
    top:0px;
    left:0px;
    margin-bottom:20px;
    width:100%;
    height:50px;
    z-index:3;
    display: flex;
    align-items: center;
}
.navBar .first{
    width:25%;
    height:100%;
}
.navBar .middle{
    width:50%;
    height:100%;
    background:grey;
    text-align: center;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.navBar .last{
    width:30%;
    height:100%;
}
.navBar .middle ul{
    list-style-type: none;
}
.navBar .middle ul li{
    display:inline;
    margin-right:20px;
    cursor:pointer;
    font-size: larger;
}
.navBar .middle ul li:hover{
    color:white;
}
.navBar .middle ul li:active{
    color:red;
}
.navBar .middle ul a{
    text-decoration: none;
    color:black;
}
.navBar .middle ul .activePage{
    color:white;
    border-bottom:2px solid black;
}
.navBar .last .profile{
    position:absolute;
    top:20px;
    right:10px;
    width:60px;
    height:auto;
    cursor:pointer;
    color:grey;
    font-size: large;
}
.menu{
    position:fixed;
    right:0.5%;
    top:55px;
    width:200px;
    z-index:5;
    display:grid;
    background-color:rgba(0, 0, 0, 0.63);
    transition:1s;
}
.menu .account{
    position:absolute;
    width:100%;
    height:70px;
}
.menu .account .profileInMenu{
    position:absolute;
    top:calc(50% - 25px);
    right:5px;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:grey;
}
.menu .account .customerName{
    position:absolute;
    left:20px;
    top:calc(50% - 15px);
    width:100px;
    height:30px;
    background-color:grey
}
.menu .account .exit{
    position:absolute;
    left:-13%;
    top:-25px;
    width:30px;
    height:30px;
    cursor:pointer;
}
.menu .account .exit .line{
    position:absolute;
    height:3px;
    width:100%;
    transform:translateY(10px)
            rotateZ(45deg);
    background-color:red
}
.menu .account .exit .lineTwo{
    position:absolute;
    height:3px;
    width:100%;
    transform:translateY(10px)
            rotateZ(-45deg);
    background-color:red
}
.menu .editProfile{
    position:absolute;
    top:70px;
    width:100%;
    height:40px;
    text-align: center;
    font-size: larger;
    color:white;
    cursor:pointer;
    border-top:2px solid white;

}
.menu .history{
    position:relative;
    top:110px;
    width:100%;
    height:40px;
    text-align: center;
    font-size: larger;
    color:white;
    cursor:pointer;
    border-top:2px solid white;

}
.menu .logOut{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    text-align: center;
    font-size: larger;
    cursor:pointer;
    color:red;
    border-top:2px solid white;
}
#Language{
    position:fixed;
    top:20px;
    left:20px;
    border:none;
    background:transparent;
    color:grey;
}
.optionContainer{
    position:absolute;
    left:0px;
    top:50px;
    height:100%;
    width:300px;
    background-color:grey;
}
.optionContainer .firstGroup{
    position:absolute;
    width:100%;
    height:40%;
    overflow: auto;
    overflow-x: hidden;
    border-bottom:3px solid black;
}
.optionContainer .firstGroup .profileContainer{
    position:absolute;
    width:100%;
    height:70px;
    background-color:#252525;
}
.optionContainer .firstGroup .profileContainer .profileInService{
    position:relative;
    top:calc(50% - 30px);
    left:5px;
    width:60px;
    height:60px;
    color:black;
    font-size: 40px;
    cursor:pointer;
    background-image:linear-gradient(45deg,rgb(7, 150, 66),rgb(13, 165, 157),rgb(12, 156, 156),rgb(0, 77, 128));
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.optionContainer .firstGroup .profileContainer .profileInService::before{
    position:absolute;
    content:'';
    width:56px;
    height:56px;
    background:#252525;
    z-index:1;
    border-radius:50%;

}
.optionContainer .firstGroup .profileContainer h1{
    position:absolute;
    left:80px;
    top:-10px;
    width:200px;
    cursor:pointer;
    height:30px;
    color:white;
}
.optionContainer .firstGroup .profileContainer p{
    position:absolute;
    left:80px;
    bottom:-10px;
    width:200px;
    cursor:pointer;
    height:20px;
    color:white;
}
.optionContainer  button{
    position:relative;
    top:73px;
    width:100%;
    height:30px;
    text-align: left;
    padding-left:20%;
    cursor:pointer;
    font-size: larger;
    color:white;
    border:none;
    background:transparent;

}

.optionContainer .selected{
    color:black;
    background:rgb(88, 88, 88);
    transform:scale(1.4)
}
.optionContainer  button:hover{
    background:rgb(88, 88, 88);
    
}
.optionContainer .groupTwo{
    position:absolute;
    top:41%;
    width:100%;
    height:40%;
    overflow: auto;
    overflow-x: hidden;
}
.optionContainer .groupTwo .security{
    width:100%;
    height:30px;
    text-align: left;
    padding-left:20%;
    font-size: larger;
    color:white;
    cursor:pointer;
}
.optionContainer .groupTwo .terms{
    width:100%;
    height:30px;
    text-align: left;
    padding-left:20%;
    font-size: larger;
    color:white;
    cursor:pointer;
}
.displayContainer{
    position:fixed;
    top:10%;
    left:300px;
    width:80%;
    height:90%;
    overflow: auto;
    background:transparent;
}
.displayContainer .tourExpense{
    position:relative;
    top:5%;
    left:1%;
    width:40%;
    height:70%;
    background:black;
}
.displayContainer .tourExpense .tourExpenseLabel{
    width:100%;
    height:30px;
    border-bottom:2px solid white;
    color:white;
    text-align: center;
    align-content: center;
    font-size: larger;
}
.displayContainer .tourExpense .tourExpenseDisplay{
    position:absolute;
    bottom:0;
    width:100%;
    height:94%;
    overflow: auto;
    background:#ededed;
}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour{
    position:relative;
    width:90%;
    margin-top:10px;
    left:5%;
    height:200px;
    border-radius:10px;
    overflow: hidden;
    background:#252525;

}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour .tourImage{
    width:100%;
    transition:0.3s linear;
    height:50%;
}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour .tourImage:hover{
    height:100%;
}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour .tourImage img{
    width:100%;
    height:100%;
}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour .placeAndExpense{
    position:absolute;
    width:100%;
    height:50%;
    color:white;
}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour .placeAndExpense .placeNameExpense{
    position:relative;
    top:calc(50% - 25px);
    width:47%;
    height:50px;
    text-align: center;
    align-content: center;
    font-size: larger;
    font-weight: bold;
}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour .placeAndExpense .totalDurations{
    position:absolute;
    right:0;
    top:0;
    width:50%;
    height:100%;
    text-align: left;
    align-content: center;
}
.displayContainer .tourExpense .tourExpenseDisplay .individualTour .placeAndExpense .totalDurations .totalCost{
    width:100%;
    height:50px;
    text-align: center;
    align-content: center;
    font-size: 30px;
}
.displayContainer .hotelExpense{
    position:absolute;
    left:43%;
    top:5%;
    width:40%;
    height:70%;
    background:black;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour{
    position:relative;
    width:90%;
    margin-top:10px;
    left:5%;
    height:200px;
    border-radius:10px;
    overflow: hidden;
    background:#252525;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour .tourImage{
    width:100%;
    height:50%;
    transition:0.3s linear;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour .tourImage:hover{
    height:100%;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour .tourImage img{
    width:100%;
    height:100%;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour .placeAndExpense{
    position:absolute;
    width:100%;
    height:50%;
    color:white;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour .placeAndExpense .placeNameExpense{
    position:relative;
    top:calc(50% - 25px);
    width:47%;
    height:50px;
    text-align: center;
    align-content: center;
    font-size: larger;
    font-weight: bold;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour .placeAndExpense .totalDurations{
    position:absolute;
    right:0;
    top:0;
    width:50%;
    height:100%;
    text-align: left;
    align-content: center;
}
.displayContainer .hotelExpense .hotelExpenseDisplay .individualTour .placeAndExpense .totalDurations .totalCost{
    width:100%;
    height:50px;
    text-align: center;
    align-content: center;
    font-size: 30px;
}
.displayContainer .hotelExpense .hotelExpenseDisplay{
    position:absolute;
    bottom:0;
    width:100%;
    height:94%;
    background:#ededed;
}
.displayContainer .hotelExpense .hotelExpenseLabel{
    width:100%;
    height:30px;
    text-align: center;
    font-size: larger;
    align-content: center;
    color:white;
    border-bottom:2px solid white;
}
.displayContainer .totalTourExpense{
    position:absolute;
    bottom:1%;
    left:1%;
    width:30%;
    height:20%;
    background:#252525;
    border-radius:10px;
}
.displayContainer .totalTourExpense .totalTourExpenseCalculated{
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    color:white;
    text-align: center;
    align-content: center;
    font-size: larger;
}
.displayContainer .totalTourExpense .tourExpensePercent{
    position:relative;
    left:10px;
    top:10px;
    border-radius:50%;
    width:100px;
    height:100px;
    background-image:conic-gradient(red 0deg 45deg,grey 45deg 360deg);
    display:flex;
    align-items: center;
    justify-content: center;
}
.displayContainer .totalTourExpense .tourExpensePercent::before{
    content:'';
    position:absolute;
    width:70px;
    height:70px;
    background:white;
    border-radius:50%;
    z-index:1;
}
.displayContainer .totalHotelExpense{
    position:absolute;
    bottom:1%;
    left:33%;
    width:30%;
    height:20%;
    border-radius:10px;
    background:#252525;
}
.displayContainer .totalHotelExpense .totalHotelExpenseCalculated{
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    text-align: center;
    color:white;
    align-content: center;
    font-size: larger;
}
.displayContainer .totalHotelExpense .hotelExpensePercent{
    position:relative;
    left:10px;
    top:10px;
    border-radius:50%;
    width:100px;
    height:100px;
    background:black;
    display:flex;
    align-items: center;
    justify-content: center;
}
.displayContainer .totalHotelExpense .hotelExpensePercent::before{
    content:'';
    position:absolute;
    width:70px;
    height:70px;
    background:white;
    border-radius:50%;
    z-index:1;
}
.displayContainer .overAllExpense{
    position:absolute;
    bottom:1%;
    left:65%;
    width:30%;
    height:20%;
    border-radius:10px;
    background:#252525;
}
.displayContainer .overAllExpense .overAllExpenseCalculated{
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    text-align: center;
    align-content: center;
    font-size: larger;
    color:white
}
.displayContainer .overAllExpense .overAllExpensePercent{
    position:relative;
    left:10px;
    top:10px;
    border-radius:50%;
    width:100px;
    height:100px;
    background:black;
    display:flex;
    align-items: center;
    justify-content: center;
}
.displayContainer .overAllExpense .overAllExpensePercent::before{
    content:'';
    position:absolute;
    width:70px;
    height:70px;
    background:white;
    border-radius:50%;
    z-index:1;
}

.displayContainer .placeHolder{
    position:relative;
    top:1%;
    left:2%;
    margin-right:2%;
    margin-top:2%;
    display:inline-block;
    width:90%;
    height:300px;
    color:white;
    border-radius:10px;
    background:#252525;
    box-shadow: 10px 10px 60px grey;
}
.displayContainer .placeHolder .placeImage{
    position:absolute;
    top:5%;
    left:1%;
    width:30%;
    height:90%;
    border-radius:10px;
    transition:0.3s linear;
    overflow: hidden;
}
.displayContainer .placeHolder .placeImage:hover{
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:2;
}
.displayContainer .placeHolder .placeImage img{
    width:100%;
    height:100%;
}
.displayContainer .placeHolder .placeName{
    position:absolute;
    top:5%;
    right:1%;
    width:67%;
    height:90%;
    font-size: 30px;
    text-align: center;
    align-content: center;
    border-radius:10px;
    overflow: hidden;
}
.displayContainer .placeHolder .placeName .description{
    position:absolute;
    top:0;
    left:0;
    width:60%;
    height:100%;
    font-size: medium;
    text-align: center;
    align-content: center;
}
.displayContainer .placeHolder .placeName  .pricing{
    position:absolute;
    right:0;
    top:0;
    width:39%;
    height:100%;
    background:#252525;
}
.displayContainer .placeHolder .placeName  .pricing .phrase{
    position:absolute;
    top:10px;
    width:50px;
    height:20px;
    text-align: center;
    font-size: small;
}
.displayContainer .placeHolder .placeName .priceAmount{
    position:absolute;
    top:20px;
    left:40px;
    width:70px;
    height:30px;
}
.displayContainer .placeHolder .placeName  .pricing .bookBtn{
    position:absolute;
    top:60px;
    left:5%;
    width:90%;
    height:50px;
    border-radius:10px;
    color:white;
    text-align: center;
    align-content: center;
    background:#0b0d83;
    cursor:pointer;
}
.displayContainer .placeHolder .placeName .guidContainer{
    position:absolute;
    bottom:10px;
    left:5%;
    width:90%;
    height:140px;
    border-radius:10px;
    background:#404242;
}
.displayContainer .placeHolder button{
    position:absolute;
    bottom:2%;
    right:5%;
    width:200px;
    height:50px;
    font-size: larger;
    border-radius:10px;
    background:orange;
    color:white;
    border:none;
}
.displayContainer .placeHolder button:hover{
    transform:scale(1.1)
}
.displayContainer .placeHolder button:active{
    background:grey;
}
.displayContainer .booked{
    position:absolute;
    left:calc(50% - 300px);
    top:10%;
    width:600px;
    height:50%;
    background-color:hsla(0, 0%, 50%, 0.5);
}
.displayContainer .booked .placeName{
    position:absolute;
    left:calc(50% - 150px);
    top:130px;
    width:300px;
    height:50px;
    text-align: center;
    color:rgb(255, 255, 255);
    background:rgba(0, 0, 0, 0.41);
    font-size: 40px;
    padding-right:20px;
    border-bottom:2px solid white;
}
.displayContainer .booked .placeImage{
    position:absolute;
    width:100%;
    height:200px;
    background-color:black;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    overflow: hidden;
}
.displayContainer .booked .placeImage img{
    position:absolute;
    width:100%;
    height:100%;
}
.displayContainer .booked .note{
    position:absolute;
    bottom:5%;
    left:calc(50% - 40%);
    width:80%;
    height:200px;
    background-color:black;
}
.displayContainer .detailsContainer{
    position:absolute;
    bottom:0px;
    display:flex;
    align-items: center;
    width:100%;
    height:35%;
    overflow-x: auto;
    background-color:grey;
}
.displayContainer .detailsContainer .details{
    position:relative;
    left:10%;
    width: 30%;
    height:200px;
    background-color:black;
}
.displayContainer .detailsContainer .details .bookedDate{
    position:relative;
    top:5px;
    width:100%;
    height:30px;
    text-align: left;
    font-size: large;
    background-color:grey;

}
.displayContainer .detailsContainer .details .goingDate{
    position:relative;
    top:5px;
    width:100%;
    height:30px;
    text-align: left;
    font-size: large;
    background-color:grey;

}
.displayContainer .detailsContainer .bookedHotel{
    position:relative;
    width:30%;
    height:200px;
    margin-left:20%;
    background-color:orange;
}
.displayContainer .detailsContainer .details .button{
    position:relative;
    margin-left:50%;
    width:50%;
    height:30px;
}
.displayContainer .detailsContainer .details .dateEdit{
    width:100%;
    height:100px;
    background-color:cyan;
}
.displayContainer .detailsContainer .details .dateEdit input{
    position:relative;
    left:10%;
    top:calc(30% - 15px);
    width:80%;
    height:30px;
}
.displayContainer .detailsContainer .details .dateEdit button{
    position:absolute;
    bottom:20px;
    right:10px;
    width:100px;
    height:30px;
    color:white;
    border:none;
    border-radius:10px;
    font-size: large;
    background-color:green;
}
.displayContainer .detailsContainer .details .dateEdit button:hover{
    background-color:rgb(10, 192, 10);
}
#bookForm{
    position:fixed;
    top:calc(50% - 300px);
    left:calc(50% - 250px);
    width:500px;
    height:600px;
    text-align: left;
    padding-left:20px;
    background:rgba(155, 152, 152, 0.445);
    backdrop-filter:blur(20px);
}
#bookForm h1{
    width:50px;
    margin-left:calc(50% - 25px);
}
#bookForm label input{
    position:relative;
    width:70%;
    height:20px;
    margin-bottom:20px;
}
#bookForm .hotelDisplay{
    position:absolute;
    left:5%;
    bottom:55px;
    width:90%;
    height:40%;
    background:blue;
}
#bookForm button{
    position:absolute;
    bottom:2px;
    left:5%;
    width:90%;
    height:50px;
    border:none;
    color:white;
    background:green;
    border-radius:10px;
    font-size: larger;

}
#bookForm label select{
    position:relative;
    width:60%;
    height:30px;
    margin-bottom:10px;
    align-items: left;
}
#bookForm .exit{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:20px;
    background:red;
    color:white;
    font-size: large;
    text-align: center;
    border-radius:10px;
    cursor:pointer;

}
.displayContainer .canceledContainer{
    position:relative;
    margin-top:20px;
    left:1%;
    width:80%;
    height:150px;
    background:black;
    border-radius:20px;
    overflow: hidden;
}
.displayContainer .canceledContainer .canceledImageContainer{
    position:relative;
    top:10px;
    left:10px;
    width:80px;
    height:80px;
    border-radius:50%;
    overflow: hidden;
    background:grey;

}
.displayContainer .canceledContainer .canceledImageContainer img{
    width:100%;
    height:100%;
}
.displayContainer .canceledContainer .canceledPlaceName{
    position:absolute;
    top:20px;
    left:120px;
    width:200px;
    height:60px;
    color:white;
    font-size: 30px;
    text-align: center;
    align-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-left:2px solid white;
}
.displayContainer .canceledContainer .detailsMenu{
    position:absolute;
    bottom:0px;
    width:100%;
    height:30px;
    border-top:2px solid grey;
    cursor:pointer;
    color:white;
    text-align: center;
    align-content: center;
    font-size: larger;
}
.displayContainer .canceledContainer .detailsMenu:hover{
    background:grey;
}
.displayContainer .canceledContainer .detailsMenu .dot{
    position:relative;
    margin-top:5px;
    margin-left:calc(50% - 5px);
    width:10px;
    height:10px;
    border-radius:50%;
    background:grey;
}
.displayContainer .canceledContainer .canceledLabel{
    position:absolute;
    right:4%;
    top:20px;
    width:200px;
    height:60px;
    color:white;
    font-size: larger;
    text-align: center;
    align-content: center;
}
.displayContainer .canceledContainer .canceledDate{
    position:absolute;
    right:3%;
    top:60px;
    width:100px;
    height:20px;
    color:white;
    font-size: medium;
    text-align: center;
    border-bottom:2px solid grey;
}
.displayContainer .canceledContainer .reason{
    position:absolute;
    bottom:60px;
    width:100%;
    height:200px;
    border-top:2px solid white;
    border-bottom:2px solid white;
    text-align: center;
    align-content: center;
}
.displayContainer .cancelContainer{
    position:relative;
    top:100px;
    left:1%;
    width:80%;
    height:400px;
    background:rgba(128, 128, 128, 0.596);
    backdrop-filter:blur(20px);
}
.displayContainer .cancelContainer #reason{
    width:40%;
    height:100px;
    text-align: center;
    align-content: center;
    position:absolute;
    right:7%;
    bottom:70px;
    font-size: 20px;
}
.displayContainer .cancelContainer .imageToCancel{
    position:relative;
    width:45%;
    height:100%;
}
.displayContainer .cancelContainer .imageToCancel img{
    width:100%;
    height:100%;
}
.displayContainer .cancelContainer .cancelName{
    position:relative;
    top:-90%;
    left:50%;
    width:250px;
    height:60px;
    color:white;
    font-size: 30px;
    text-align: center;
    align-content: center;
}
.displayContainer .cancelContainer .dateContainer{
    position:absolute;
    left:55%;
    top:150px;
    width:200px;
    height:60px;
}
.displayContainer .cancelContainer .dateContainer .label{
    width:80%;
    height:40px;
    color:white;
    font-size: large;
    text-align: center;
    align-content: center;
}
.displayContainer .cancelContainer .dateContainer .BookedDate{
    position:absolute;
    right:20px;
    width:40%;
    color:white;
    border-bottom:2px solid grey;

}
.displayContainer .cancelContainer #cancelBooking{
    position:absolute;
    right:7%;
    bottom:10px;
    width:41%;
    height:50px;
    background:red;
    border:none;
    border-radius:10px;
    color:white;
    font-size: larger;
}
.displayContainer .cancelContainer #cancelBooking:hover{
    transform:scale(1.1);
    color:black;
}
.displayContainer .cancelContainer #cancelBooking:active{
    transform:scale(1);
    color:white;
    background:grey;
}
.displayContainer .bookedHistory{
    position:absolute;
    top:2%;
    left:1%;
    width:45%;
    height:60%;
    background:black;
}
.displayContainer .canceledHistory{
    position:absolute;
    top:2%;
    left:48%;
    width:45%;
    height:60%;
    background:black;
}
.displayContainer .updatedHistory{
    position:absolute;
    left:10px;
    bottom:0;
    width:90%;
    height:37%;
    background:black;
}
.displayContainer .HistoryLabel{
    width:100%;
    height:30px;
    color:white;
    text-align: center;
    border-bottom:2px solid white;
    align-content: center;
}
.displayContainer .historyDisplay{
    position:absolute;
    bottom:0;
    width:100%;
    height:93.5%;
    overflow-y: auto;
    background:#ededed;
}
.displayContainer .updatedHistory .historyDisplay{
    height:88%;
}
.displayContainer  .historyDisplay .individualHistory{
    position:relative;
    margin-top:20px;
    left:10%;
    width:80%;
    height:100px;
    border-radius:10px;
    background:#252525;
    overflow: hidden;
}
.displayContainer .historyDisplay .individualHistory .historyImage{
    position:relative;
    top:10px;
    left:10px;
    width:80px;
    height:80px;
    background:black;
    overflow: hidden;
    transition:0.3s linear;
}
.displayContainer .historyDisplay .individualHistory .historyImage:hover{
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.displayContainer  .historyDisplay .individualHistory .historyName{
    position:absolute;
    right:0;
    top:0;
    width:60%;
    height:50px;
    text-align: center;
    align-content: center;
    color:white;
    font-size: larger;
}
.displayContainer  .historyDisplay .individualHistory .historyDate{
    position:absolute;
    right:0;
    bottom:0;
    width:60%;
    height:40px;
    text-align: center;
    align-content: center;
    color:white;
}
.displayContainer  .historyDisplay .individualHistory .historyImage img{
    width:100%;
    height:100%;
}